html, body {
	border: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	
	background: black;
}

/* TODO: Need to scale to height or width so that it fills - mobile especially */
.background-image {
	width:100%;
	height: 100%;
	
	background-size: cover;
}

.bg-1 {
	background-image: url('1.jpg');
	background-position: bottom right;
}

.bg-2 {
	background-image: url('2.jpg');
	background-position: 50% 100%;
}

.bg-3 {
	background-image: url('3.jpg');
	background-position: bottom right;
}

.heading-overlay {
	position: absolute;
	top: 0;
	left: 5%;
	
	width: 34%;
	height: 100%;
	
	background-color: rgba(0,0,0,0.5);
	
	text-align: center;
	color: white;

	/* default for the rest of the text */
	font-family: 'EngraversRomanBT', serif;
}
.cursive {
	font-size: 6vw; /*TODO: This isn't supported on Android < 4.4 */
	font-family: 'BrannbollSS', cursive;
	margin: 10% 0 0 0;
}
.announcement {
	font-size: 2.8vw;
}
.date, .address {
	font-size: 2vw;
}

.bottomarea {
	text-align: left;
	width: 60%;
	margin: 10% auto 0 auto;
}
.directions, .rsvp, .video {
	font-size: 2vw;
}
.directions img, .rsvp img, .video img {
	width: 24%;
	vertical-align: -40%;
}

.video img {
	vertical-align: -70%;
}

a {
	color: white;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}


@media (max-width: 900px) {
	.cursive {
		font-size: 18vw; /*TODO: This isn't supported on Android < 4.4 */
	}
	.heading-overlay {
		left: 0;
		width: 100%;
	}
	.announcement {
		font-size: 8.4vw;
	}
	.date, .address {
		font-size: 6vw;
	}
	.directions, .rsvp, .video {
		font-size: 6vw;
	}
	p {
		margin: 0.5em 0;
	}
}

@font-face {
	font-family: 'BrannbollSS';
	src: url('BrannbollSS.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'EngraversRomanBT';
	src: url('Engravers_Roman_BT.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

